<div>
  <main>
    <p><h1>{{name}}</h1></p>
    <div>{{description}}</div>
    {{#with history}}
    <time>{{year}}, {{founder}}</time>
    {{/with}}
    <hr>
    <div>
      <span class="badge text-bg-primary p-2">Types:</span>
      <section>
        <ul>
          {{#each types}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </section>
    </div>
    <div>
      <span class="badge text-bg-secondary p-2 my-2">Syntax:</span>
      <section>
        <ul>
          {{#with syntax}}
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                variables
              </button>
              <ul class="dropdown-menu">
                {{#each variables}}
                  <li><a class="dropdown-item" href="#">{{this}}</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
          <br>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                functions
              </button>
              <ul class="dropdown-menu">
                {{#each functions}}
                  <li><a class="dropdown-item" href="#">{{this}}</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
          <br>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                conditionals
              </button>
              <ul class="dropdown-menu">
                {{#each conditionals}}
                  <li><a class="dropdown-item" href="#">{{this}}</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
          <br>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                loops
              </button>
              <ul class="dropdown-menu">
                {{#each loops}}
                  <li><a class="dropdown-item" href="#">{{this}}</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
          <br>
          <li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                classes
              </button>
              <ul class="dropdown-menu">
                {{#each classes}}
                  <li><a class="dropdown-item" href="#">{{this}}</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
          {{/with}}
        </ul>
      </section>
    </div>
    <div>
      <span class="badge text-bg-success my-2 p-2">Features:</span>
      <section>
        <ul>
          {{#each features}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </section>
    </div>
    <div>
      <span class="badge text-bg-danger my-2 p-2">Libraries:</span>
      <section>
        <ul>
          {{#each libraries}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </section>
    </div>
    <div>
      <span class="badge text-bg-warning my-2 p-2">Tools:</span>
      <section>
        <ul>
          {{#each tools}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </section>
    </div>
    
  </main>
</div>