<div>
  <main>
    {{#with program}}
      <div>
        {{#with excursion}}
          <h1>Excursion: {{name}}</h1>
          <hr class="my-4">
          <div>{{location.city}}, {{location.country}}</div>
          <div class="mb-5"><time>{{date}}</time></div>
          <div>Program:
            <hr>
            <ul>
              {{#with program}}
                <li>
                  <div> {{[0].name}}, {{[0].type}}, {{[0].duration}} hour </div>
                  <p>Detail:
                    {{#with [0].details}}
                      <div>
                        {{#with museum}}
                          {{name}},
                          {{#with location}}
                            {{address}}, {{city}}, {{country}}
                          {{/with}}
                          <ul>
                            {{#each exhibits}}
                              <p>Exhibits: </p>
                              <li>{{name}}</li>
                              {{#if artist}}<li>{{artist}}</li>{{/if}}
                              <li>{{description}}</li>
                              <li>{{#if audio_guide}} audio {{/if}} </li>
                            {{/each}}
                        {{/with}}
                      </div>
                      <div class="mt-3"> Guide:
                        {{#with guide}}
                          {{name}}, {{language}}, {{rating}}
                        {{/with}}
                      </div>
                    {{/with}}
                  </p>
                </li>
                <li>
                  <div> {{[1].name}}, {{[1].type}}, {{[1].duration}} hour </div>
                  <p>Detail:
                    {{#with [1].details}}
                      <div>
                        {{#with venue}}
                          {{name}},
                          {{#with location}}
                            {{address}}, {{city}}, {{country}}
                          {{/with}}
                        {{/with}}
                      </div>
                      <ul>
                        <p class="mt-3">Performers: </p>
                          {{#each performers}}
                            <li>{{name}}, {{type}}</li>
                          {{/each}}
                      </ul>
                      <br>
                      <div> Guide:
                        {{#with guide}}
                          {{name}}, {{language}}, {{rating}}
                        {{/with}}
                      </div>
                    {{/with}}
                  </p>
                </li>
              {{/with}}
            </ul> 
          </div>
        {{/with}}
      </div>
    {{/with}}
  </main>
</div>