<main>
  <div>
    {{#with newsBlock}}
      {{>shoppost}}
    {{/with}}
  </div>
  <hr class="my-5">
  <div>
    {{#with goodsBlock}}  
      <div>
        <div class="col-12 mb-5 ">
          <div class="nav nav-tabs ">
            {{#each tabs}}
              {{#if isActive}}
                <a href="#" class="nav-link active">{{text}}</a>
              {{else}}
                <a href="#" class="nav-link {{#if isDisabled}}disabled {{/if}}">{{text}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
      {{>shopcard}}
    {{/with}}
  </div>
  <hr class="my-5">
  <div>
    {{#with subscribe}}
      <div class="card text-bg-dark">
        <h2 class="card-title mt-2 ms-3">{{header}}</h2>
        <div class="card-body">{{description}}</div>
        <div  class="d-grid gap-2 m-3">
        {{#each buttons}}
          <div>  
          <button class="btn btn-primary" href="{{link}}">{{text}}</button>
          </div>
        {{/each}}
        </div>
      </div>
    {{/with}}
  </div>
  <hr class="my-5">
  {{>shopaction}}
</main>