<hr class="my-5">
  <div class="col-12">
    <div class="row">
      <div class="col-2">
        <div>
          <ul class="nav">
            {{#each footer.[0]}}
              <li class="nav-item">
                <a href="{{link}}" class="nav-link">{{text}}</a>
              </li>
            {{/each}}
            <li>
              <a href="#" class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div>
          <ul class="nav">
            {{#each footer.[1]}}
              <li class="nav-item">
                <a href="{{link}}" class="nav-link">{{text}}</a>
              </li>
            {{/each}}
            <li>
              <a href="#" class="nav-link disabled">Disabled</a>
            </li>
          </ul>
      </div>
      </div>
      <div class="col-2">
        <div>
          <ul class="nav">
            {{#each footer.[2]}}
              <li class="nav-item">
                <a href="{{link}}" class="nav-link">{{text}}</a>
              </li>
            {{/each}}
            <li>
              <a href="#" class="nav-link disabled">Disabled</a>
            </li>
          </ul>
      </div>
      </div>
      <div class="col-2">
        <div>
          <ul class="nav">
            {{#each footer.[3]}}
              <li class="nav-item">
                <a href="{{link}}" class="nav-link">{{text}}</a>
              </li>
            {{/each}}
            <li>
              <a href="#" class="nav-link disabled">Disabled</a>
            </li>
          </ul>
      </div>
      </div>
      <div class="col-2">
        <div>
          <ul class="nav">
            {{#each footer.[4]}}
              <li class="nav-item">
                <a href="{{link}}" class="nav-link">{{text}}</a>
              </li>
            {{/each}}
            <li>
              <a href="#" class="nav-link disabled">Disabled</a>
            </li>
          </ul>
      </div>
      </div>
    </div>
  </div>